@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Задать стили шрифта для всего текста внутри <body> */
body {
  font-size: 14px;
  font-family: "Oswald", Georgia, Serif;
}

/* СТИЛИ ДЛЯ ФОРМАТИРОВАНИЯ ТЕКСТА */
.text-capitalize {
  text-transform: capitalize;
  color: cadetblue;
}
.text-uppercase {
  text-transform: uppercase;
  color: #d86363;
}
.text-lowercase {
  text-transform: lowercase;
  color: rgb(199, 161, 235);
}

/* Блок <div> в котором будет текст */
.text {
  border: 2px solid black;
  padding: 4px;
  margin: 8px;
}
/* Стили для выравнения текста */
.text-align-center { text-align: center; }
.text-align-start { text-align: start; }
.text-align-end { text-align: end; }
.text-align-justify { text-align: justify; }

/* Работа с цветом */
.rgb-color {
	color: rgb(255, 0, 0); /* Красный */
	color: rgb(0, 255, 0); /* Зеленый */
	color: rgb(0, 0, 255); /* Синий */
	color: rgb(255, 255, 255); /* Белый */
	color: rgb(0, 0, 0); /* Черный */
	color: rgb(128,0,128); /* Пурпурный*/

	color: rgb(0, 0, 0, 0.5); /* Черный полупрозрачный */
	color: rgba(100%, 50%, 0%, 0.1); /* Тоже вариант */

  /* Полностью прозрачный rgb(0, 0, 0, 0);*/
	/* color: transparent; / */
}

.hex-color {
	color: #c347d3; /* Пурпурный */
}